<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>

    <h1>Welcome <%= user.epost %></h1>
    
    <a href="/api/nyFlokk" class="button">Lage Flokk</a>
    <a href="/add-reinsdyr" class="button">Legg til Reinsdyr</a>

</body>
</html>